<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ip Discovery</title>
</head>

<!-- data tag allows us to inculde things that will not be
processed as html. -->
<body data-ng-app="ipsApp">
  <a data-ng-if="loggedIn()" href data-ng-click="logOut()">
      Log Out{{username? ' of ' + username : ''}}
  </a>
  <!-- Avoid using div tags, look up an appropriate html 5 tag to allow
  for screen reader compatibility-->
  <main data-ng-view>
  </main>
    <script src="bundle.js"></script>
</body>
</html>